*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.apk
*.dex
*.class

bin/
gen/
out/
.gradle/
build/

# Intellij
*.iml
.idea/workspace.xml
.idea/libraries
.idea/vcs.xml

# Keystore files
*.jks


backend/build
